<!-- データベース確認して完成していたらボタンを非表示にする -->
<h1>お題：<%= @user_theme %></h1>

<div class="canvasarea">
  <canvas id="mycanvas" width="242" height="333">HTML5非対応</canvas>
  <p>筆の太さ<input type="range" min="0" max="100" value="10" id="lineWidth">
                              <span id="lineNum">10</span></p>
</div>
<div class="input_name">
  <label for="name_check">
    <input type="checkbox" id="name_check"
           onclick="name_checked(this.checked);" value="<%= @user_name %>">
    名前を入れる
  </label>
</div>
<input type="button" value="やり直す" onclick="clear_canvas();" id="reset_btn">

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@picture, url: product_path) do |f| %>
      <%= render 'shared/error_message' %>
      <%= f.hidden_field :theme, value: @user_theme, class: 'form-control' %>
      <%= f.hidden_field :name, value: @user_name, class: 'form-control' %>
      <%= f.hidden_field :canvas_url, value: "" %>

      <input type="button" value="完成" onClick="_submit()" class="btn btn-primary" >
    <% end %>
  </div>
</div>
